#toolbar {
    background: black;
}

#highlighted {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,stop: 0 #424242, stop: 1 #000000);
    color:#FFFFFF;
}

#unhighlighted {
    background-color: #000000;
    color:#FFFFFF;
}

WindowEntry#windowlist {
    background-color: #202020;
    border-radius: 5px;
}

QScrollArea {
    background-color: #202020;
    border-radius: 5px;
}

QWidget#area {
    background-color: #202020;
    border-radius: 5px;
}

QLabel#arrow {
    background: transparent;
    background-repeat: none;
    background-image: url(THEMEDIR/fleche.png);
    height: 7px;
    max-height: 7px;
    opacity: 0.1;
}

QLabel#tooltiplabel {
    color: #FFFFFF;
    background-color: #424242;
    border-radius: 5px;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

#tooltip {
    background: transparent;
    font-family : SansSerif;
    font-size: 12px;
    border: 0px;
    opacity: 0.1;
}

#clock {
    color:#31C2EE;
    text-align: center;
    font-family : SansSerif;
    font-size: 12px;
}

#background {
    background-image: url(THEMEDIR/toolbar-background.png);
}

#separator {
    background-repeat: no-repeat;
    background-image: url(THEMEDIR/separator.png);
}

BloomButton {
    border: none;
    text-align: center;
}

#panelicon {
    background-color: none;
}

QLabel#paneliconactive {
    background-color: none;
}

